{
  "services": [
    {
      "type": "app",
      "data": {
        "projectName": "labz_flow",
        "serviceName": "n8n_flow_mais",
        "source": {
          "type": "image",
          "image": "n8nio/n8n:latest"
        },
        "domains": [
          {
            "host": "$(EASYPANEL_DOMAIN)",
            "port": 5678
          }
        ],
        "env": "WEBHOOK_URL=https://$(PRIMARY_DOMAIN)\nEXECUTIONS_MODE=queue\nQUEUE_BULL_REDIS_HOST=Nome_do_servico_Redis_AQUI\nQUEUE_BULL_REDIS_PORT=Porta_do_Redis_AQUI\nQUEUE_BULL_REDIS_PASSWORD=Senha_Redis_AQUI\nDB_TYPE=postgresdb\nDB_POSTGRESDB_HOST=Nome_do_servico_Postgres_AQUI\nDB_POSTGRESDB_PORT=Porta_do_Postgres_AQUI\nDB_POSTGRESDB_DATABASE=Nome_do_Banco_AQUI\nDB_POSTGRESDB_USER=Usuario_Postgres_AQUI\nDB_POSTGRESDB_PASSWORD=Senha_Postgres_AQUI\nN8N_ENCRYPTION_KEY=SUA_CHAVE_ENCRYPTION_AQUI\nN8N_MCP_ENABLED=true\nN8N_METRICS=true\nN8N_RUNNERS_ENABLED=true\nOFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true\nN8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true\nN8N_PROCESS=main\nQUEUE_HEALTH_CHECK_ACTIVE=true\nGENERIC_TIMEZONE=America/Sao_Paulo\nN8N_DEFAULT_LOCALE=pt-BR\nTZ=America/Sao_Paulo",
        "mounts": [
          {
            "type": "volume",
            "name": "n8n_data",
            "mountPath": "/home/node/.n8n"
          }
        ]
      }
    },
    {
      "type": "app",
      "data": {
        "projectName": "labz_flow",
        "serviceName": "n8n_flow_work",
        "source": {
          "type": "image",
          "image": "n8nio/n8n:latest"
        },
        "env": "EXECUTIONS_MODE=queue\nQUEUE_BULL_REDIS_HOST=Nome_do_servico_Redis_AQUI\nQUEUE_BULL_REDIS_PORT=Porta_do_Redis_AQUI\nQUEUE_BULL_REDIS_PASSWORD=Senha_Redis_AQUI\nDB_TYPE=postgresdb\nDB_POSTGRESDB_HOST=Nome_do_servico_Postgres_AQUI\nDB_POSTGRESDB_PORT=Porta_do_Postgres_AQUI\nDB_POSTGRESDB_DATABASE=Nome_do_Banco_AQUI\nDB_POSTGRESDB_USER=Usuario_Postgres_AQUI\nDB_POSTGRESDB_PASSWORD=Senha_Postgres_AQUI\nN8N_ENCRYPTION_KEY=SUA_CHAVE_ENCRYPTION_AQUI\nN8N_PROCESS=worker\nN8N_DISABLE_ACTIVE_WORKFLOWS=true\nN8N_SKIP_WEBHOOK_DEREGISTRATION_SHUTDOWN=true\nGENERIC_TIMEZONE=America/Sao_Paulo\nN8N_DEFAULT_LOCALE=pt-BR\nTZ=America/Sao_Paulo",
        "mounts": [
          {
            "type": "volume",
            "name": "n8n_data",
            "mountPath": "/home/node/.n8n"
          }
        ]
      }
    }
  ]
}
